.gobackBtn {
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  gap: 6px;
  transition: all 0.25s ease;
  border: none;
  outline: none;
}

.gobackBtn:active {
  color: #c9510c;
  transform: translateX(-15px);
}

@media (hover: hover) {
  .gobackBtn:hover {
    color: #c9510c;
  }
  .gobackBtn:active {
    transform: translateX(-15px);
  }
}
