.grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'one one two five'
    'three four four five';
  padding-block: 2rem;
  /* width: min(95%, 70rem); */
  margin-inline: auto;
  width: 70%;
}

.testimonial {
  font-size: 0.9rem;
  padding: 15px;
  text-align: left;
  border-radius: 0.5rem;
  background-color: hsl(0 0% 100%);
  color: black;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217 19% 35% / 0.25);
}

.testimonial:nth-child(1) {
  grid-area: one;
  background-color: hsl(263 55% 52%);
  color: hsl(0 0% 100%);
}
.testimonial:nth-child(2) {
  grid-area: two;
  color: hsl(0 0% 100%);
  background-color: hsl(217 19% 35%);
}
.testimonial:nth-child(3) {
  grid-area: three;
}
.testimonial:nth-child(4) {
  grid-area: four;
  background-color: hsl(219 29% 14%);
  color: hsl(0 0% 100%);
}
.testimonial:nth-child(5) {
  grid-area: five;
}

/* @media screen and (min-width: 33em) {
  .testimonial-grid {
    grid-template-areas:
      'one one'
      'two three'
      'five five'
      'four four';
  }
} */
/* 
@media screen and (min-width: 38em) {
  .testimonial-grid {
    grid-template-areas:
      'one one'
      'two five'
      'three five'
      'four four';
  }
}
@media screen and (min-width: 54em) {
  .testimonial-grid {
    grid-template-areas:
      'one one two'
      'five five five'
      'three four four';
  }
} */

/* @media screen and (min-width: 75em) {
  .testimonial-grid {
    grid-template-areas:
      'one one two five'
      'three four four five';
  }
} */

.quote {
  opacity: 0.7;
}

.name {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 10px;
}
