.section {
  padding: 50px 0 50px;
  background-color: var(--color-black-1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url('/assets/testimonybg.png');
  position: relative;
  /* min-height: 90vh; */
  /* top: 67px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow-x: hidden;
  width: 100%;
}

.subheader {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 300;
  opacity: 0.7;
  padding: 0 10px;
}

.svg {
  width: 150px;
  margin: 15px auto 20px;
}
@media screen and (max-width: 900px) {
  .svg {
    display: none;
  }
}
