.links {
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  color: darkgray;
}

.links:hover {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
  .links {
    font-size: 1.8rem;
  }
}
