.cardWrapper {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px 0;
}

@media screen and (max-width: 1200px) {
  .cardWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .cardWrapper {
    gap: 45px 25px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .cardWrapper {
    gap: 45px 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .cardWrapper {
    gap: 45px 18px;
    padding: 40px 0;
  }
}
