.scroller {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  background-color: var(--color-black-1);
  gap: 30px;
  padding: 30px 40px 30px 25px;
  margin-left: -25px;
}

.card {
  padding: 0px 0px 57px;
  position: relative;
  min-width: 300px;
  border-radius: 7px;
  background-color: var(--color-black-2);
  box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.5);
}

.card::before {
  content: '';
  height: 100px;
  background-color: #646464;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px 7px 20% 20%;
  width: 100%;
}
.img {
  border-radius: 7px;
  position: relative;
  width: 90%;
  aspect-ratio: 16/9;
  height: auto;
  margin-inline: auto;
  overflow: hidden;
  margin-top: 15px;
  border: 2px solid #e4e4e4;
}

.img img {
  object-fit: cover;
}
.content {
  margin: 15px 0;
  padding: 0 15px;
}
.name {
  font-size: 1.4rem;
}

.info {
  margin: 10px 0 12px;
  font-size: 0.89rem;
  opacity: 0.6;
  line-height: 19px;
  word-spacing: 2px;
}

.btnDiv {
  display: flex;
  gap: 15px;
  position: absolute;
  justify-content: center;
  bottom: 20px;
  left: 10px;
  right: 10px;
}

@media screen and (max-width: 361px) {
  .card {
    position: relative;
    min-width: 270px;
  }
}
