.blogWrapper {
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
  position: relative;
}

.postCard {
  background-color: var(--color-black-2);
  padding: 25px 20px;
  border-radius: 7px;
  transition: all 0.3s ease;
  position: relative;
  border: 1px solid var(--color-black-2);
}

.allposts {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  transform: rotateZ(-90deg);
}

.title {
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.time {
  color: rgb(0, 196, 0);
  margin-bottom: 5px;
}
.name {
  margin: 5px 0 10px;
  color: rgb(218, 159, 159);
  font-size: 0.9rem;
}

.info {
  font-size: 0.9rem;
  opacity: 0.7;
}

/* Tag */
.tagName {
  text-transform: uppercase;
  color: rgb(131, 131, 131);
}

/* Search */
.searchBox {
  margin: 0 auto 10px;
  display: block;
  padding: 13px 20px;
  font-size: 1.2rem;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  background-color: #191818;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.768);
}

.searchBox:focus {
  outline: 1px solid rgba(181, 181, 181, 0.675);
}
.searchBox::placeholder {
  color: rgb(76, 78, 81);
}

.postCard:active .title {
  color: var(--color-canwebe);
}
.postCard:active {
  border-color: var(--color-canwebe);
}

@media (hover: hover) {
  .postCard:hover .title {
    color: var(--color-canwebe);
  }
  .postCard:hover {
    border-color: rgb(148, 148, 148);
  }

  .postCard:active {
    border-color: var(--color-canwebe);
  }
}

@media screen and (max-width: 1100px) {
  .blogWrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 640px) {
  .blogWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .searchBox {
    margin: -10px auto 25px;
    width: 100%;
  }
  .postCard {
    padding: 15px;
  }
}
