.createWrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  gap: 20px;
  margin: 30px auto;
}

.inputtext,
.shortinfo,
.markdownArea {
  padding: 10px 18px;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
  color: rgb(220, 220, 220);
  border: 2px solid rgb(60, 60, 60);
  line-height: 27px;
}

.inputwrapper,
.inputwrapperEdit {
  display: flex;
  gap: 18px;
  align-items: center;
}

.inputFile {
  display: none;
}
.changePhoto {
  background-color: aliceblue;
  color: black;
  border-radius: 20px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 0.9rem;
}
.inputwrapper .inputtext {
  width: 50%;
}
.inputwrapperEdit select.inputtext {
  width: 30%;
}

.inputwrapperEdit .inputtext {
  width: 70%;
}

.editPhoto {
  display: flex;
  margin: 5px 0;
  gap: 10px 20px;
  align-items: center;
  flex-wrap: wrap;
}

.btn,
.btnDlt {
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn {
  width: 70%;
}

.btn:global(.full) {
  width: 100%;
}
.btnDlt {
  width: 30%;
  color: white;
  background-color: rgb(177, 25, 25);
}

.btnWrapper {
  display: flex;
  gap: 10px;
}

.error {
  text-align: center;
  margin: 10px auto;
}
.error {
  color: rgb(177, 25, 25);
}

@media screen and (max-width: 750px) {
  .inputwrapperEdit,
  .inputwrapper {
    flex-direction: column;
  }
  .inputtext {
    width: 100% !important;
  }
}
