.formSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 90vh;
  min-height: 100svh;
  background-color: var(--color-black-1);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(228, 228, 228);
  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 800px;
  margin: 0px auto;
}

.btnWrapper {
  display: flex;
  gap: 13px;
  align-items: center;
}

.btn,
.btnNext,
.btnPrev {
  padding: 9px 11px;
  border-radius: 5px;
  background-color: #453ece;
  color: white;
  outline: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.12s ease;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.17);
}

.btnPrev {
  padding: 9px 15px 9px 7px;
}
.btnNext {
  padding: 9px 7px 9px 15px;
}

.btn:global(.disabled),
.btnNext:global(.disabled) {
  opacity: 0.45;
  box-shadow: none;
}

.btn:not(:global(.disabled)):active,
.btnNext:not(:global(.disabled)):active,
.btnPrev:active {
  background-color: #251f9e;
}

.textInput {
  padding: 3px 0 6px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #3e332d;
  color: #d47542;
  font-size: 1.7rem;
}

select.textInput {
  width: 90%;
  max-width: 340px;
}

textarea.textInput {
  resize: none;
}
.textInput:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid #d47542;
  margin-bottom: -1px;
  color: #d47542;
}
.textInput::placeholder {
  color: #3e332d;
  font-size: 1.7rem;
}

.thanks {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: 1.54rem;
  color: #d47542;
}

.redirect {
  display: block;
  font-size: 1rem;
  margin-top: 13px;
  color: rgb(158, 158, 158);
}

.name {
  text-transform: capitalize;
  font-weight: 600;
}

@media (hover: hover) {
  .btn:not(:global(.disabled)):hover,
  .btnNext:not(:global(.disabled)):hover,
  .btnPrev:hover {
    background-color: #514adf;
  }

  .btn:not(:global(.disabled)):active,
  .btnNext:not(:global(.disabled)):active,
  .btnPrev:active {
    background-color: #251f9e;
  }
}

/* Media Query */
@media screen and (max-width: 500px) {
  .formSection {
    font-size: 1.25rem;
    line-height: 30px;
  }
  .textInput {
    font-size: 1.5rem;
  }
  .thanks {
    width: 95%;
    font-size: 1.34rem;
  }
  .redirect {
    font-size: 0.9rem;
    margin-top: 8px;
  }
  .btn {
    font-size: 1.15rem;
  }
}
