:root {
  --color-black-1: #262626;
  --color-black-2: #3b3b3b;
  --color-white-1: #fff;
  --color-canwebe: #e47e24;
  --color-canwebe-deep: #c45c20;
  --color-canwebe-extradeep: #9a400c;
  --color-blue-1: #7e7ee9;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

img {
  width: 100%;
}
body {
  background-color: var(--color-black-1);
  color: var(--color-white-1);
}

::-webkit-scrollbar {
  width: 0;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #292929;
  background-color: #323131;
  border-radius: 100vw;
  margin-left: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #434343;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
    inset -2px -2px 2px rgb(0 0 0 / 25%);
  border-radius: 100vw;
}
.navGap {
  margin-top: 69px;
}

.pageHeader {
  margin: 90px 0 40px;
  /* font-weight: 500; */
  color: #5c5c5c;
  border-bottom: 2px solid #444444;
  padding-bottom: 10px;
}

.header {
  font-size: 1.4rem;
}

.header::after {
  content: '';
  height: 2px;
  width: 100px;
  background-color: var(--color-blue-1);
  display: block;
  margin: 7px 0 20px 4px;
}
.sectionbody {
  padding-bottom: 60px;
}

.mt {
  color: #5e5c5c;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  padding: 50px 20px 0;
}

/* MDX */

.blog h1 {
  padding-bottom: 5px;
  border-bottom: 1px solid #303237;
}
.blog hr {
  color: #303237;
  background-color: #303237;
}

.blog h2 {
  margin: 22px 0;
}
.blog h2 {
  margin: 19px 0;
  color: #ce8f57;
}

.blog h3 {
  margin: 18px 0;
  color: #ce8f57;
}
.blog h4 {
  margin: 17px 0;
}

.blog a {
  color: #58a6ff;
  font-weight: 600;
}
code {
  background-color: #0b1723;
  padding: 10px;
  margin: 16px 0;
}
.blog ul,
.blog ol {
  color: #e47e24;
  padding-left: 40px;
  margin: 16px 0;
  line-height: 25px;
}
.blog p {
  margin: 16px 0;
  line-height: 25px;
}

.blog img {
  width: 100%;
  margin: 19px auto;
  display: block;
}

.teamsectionP {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(193, 193, 193);
}

@media screen and (max-width: 500px) {
  .teamsectionP {
    font-size: 1.1rem;
  }
  ::-webkit-scrollbar {
    height: 0;
  }
}

.none {
  display: none;
}
