.heroSection {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/headerbg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  position: relative;
  overflow-x: hidden;
}
.heroBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/headerbg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  z-index: -1;
}

.heroDiv {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  min-height: 90.5vh;
}
.heroLeft {
  width: 60%;
}
.heroRight {
  background-color: var(--color-black-1);
  width: 450px;
  padding: 35px;
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.heroH1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 3px 0 12px;
}

.heroSubline {
  opacity: 0.7;
}
.canwebe {
  color: var(--color-canwebe);
}
.subpara {
  width: 75%;
  margin-bottom: 14px;
  font-size: 1.1rem;
  line-height: 24px;
}

.heroBtnDiv {
  display: flex;
  gap: 26px;
  margin-top: 24px;
}

.heroBtnProjects,
.heroBtnContact {
  cursor: pointer;
  padding: 9px 20px;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.heroBtnContact {
  border-radius: 40px;
  border: 1px solid #d79292;
  padding: 9px 30px;
  color: #d79292;
}
.heroBtnContact:hover {
  background-color: #d79292;
  color: #000;
}
.heroBtnContact:active {
  transform: scale(0.96);
  border-color: white;
}

.heroBtnProjects {
  background-color: #3939ef;
  border-radius: 7px;
  color: rgb(215, 215, 215);
}

.heroBtnProjects:hover {
  background-color: #2222b7;
}

.heroBtnProjects:active {
  transform: translateY(3px);
}

.maintainence {
  background-color: #151515;
  padding: 90px 0;
  text-align: center;
  font-size: 1.8rem;
  color: rgb(199, 203, 212);
}

.projectSection {
  padding: 30px 0;
}

.header {
  font-size: 1.4rem;
}

.header::after {
  content: '';
  height: 2px;
  width: 100px;
  background-color: rgb(126, 126, 233);
  display: block;
  margin: 7px 0 20px 4px;
}

.fundSection {
  background-color: #beb8b2;
  color: #000000;
  padding: 80px 0;
  margin: 0 0 40px;
}

.fundContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.fundP {
  font-size: 1.5rem;
}

.fundBtn {
  padding: 8px 40px;
  font-size: 1.4rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.24s ease-in;
  border: 1px solid black;
  outline: none;
}

.fundBtn:hover {
  background-color: #000000;
  color: rgb(224, 224, 224);
}

.fundBtn:active {
  transform: scale(0.9);
}

.feedbackSection {
  padding: 50px 0;
  background-color: rgb(168, 65, 10);
  margin: 30px 0 0;
}

.feedbackCard {
  margin: 0 auto;
  background-color: #000000;
  width: fit-content;
  padding: 35px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 23px;
  font-size: 1.4rem;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.3);
  color: rgb(227, 227, 227);
}
.feedbackBtn {
  padding: 9px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.24s ease-in-out;
  background-color: white;
  color: #000000;
}
.feedbackBtn:hover {
  background-color: rgb(160, 58, 10);
  color: white;
  border-radius: 30px;
}

.feedbackBtn:active {
  transform: translateY(4px);
}

.testimonySection {
  padding: 50px 0;
  background-color: goldenrod;
}

.testimonyH3 {
  font-size: 1.6rem;
  text-align: center;
}

.infoSection {
  padding: 35px 0;
  text-align: center;
  background-color: #0d0c0c;
}

.teamSocialWrapper {
  display: flex;
  gap: 18px;
  /* align-items: center; */
  justify-content: center;
  font-size: 1.5rem;
  margin: 10px 0 20px;
}
.teamName {
  font-size: 3rem;
  font-weight: 300;
}

.teamPara {
  margin: 20px auto;
  width: 60%;
  line-height: 25px;
  word-spacing: 1px;
  opacity: 0.8;
}

.facebook,
.twitter,
.instagram,
.linkedin,
.youtube {
  transition: all 0.3s ease-in-out;
}

.facebook:hover {
  color: #1877f2;
}

.instagram:hover {
  color: #e1306c;
}
.twitter:hover {
  color: #1da1f2;
}
.linkedin:hover {
  color: #0077b5;
}

.youtube:hover {
  color: #ff0000;
}

.whyus {
  min-height: 100%;
  display: flex;
  margin-top: 30px;
}
.whyusleft,
.whyusright {
  width: 50%;
}
.whyusleft {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: sticky;
  top: 69px;
  background-color: var(--color-black-1);
}
.point1,
.point2,
.point3 {
  height: 91vh;
  padding: 20px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 120%;
  position: sticky;
  top: 69px;
}
.point1 {
  background-color: #d79292;
}
.point2 {
  background-color: #5957e2;
}
.point3 {
  background-color: #b657e2;
}

/* Media Queries */

@media screen and (max-width: 860px) {
  .feedbackCard {
    padding: 35px;
    gap: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 810px) {
  .heroDiv {
    flex-direction: column-reverse;
    padding: 60px 0;
  }
  .heroLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .heroRight {
    width: 315px;
  }

  .whyus {
    flex-direction: column;
  }
  .whyusleft,
  .whyusright {
    width: 100%;
  }
  .whyusleft {
    height: 25vh;
    z-index: 1;
  }
  .point1,
  .point2,
  .point3 {
    height: 66.4vh;
    top: 34vh;
  }
}

@media screen and (max-width: 680px) {
  .maintainence {
    font-size: 1.4rem;
  }

  .fundSection {
    padding: 40px 0;
    margin: 0 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .heroDiv {
    padding: 30px 0;
  }
  .heroRight {
    /* width: 260px;
    padding: 23px; */
    display: none;
  }
  .heroH1 {
    font-size: 2rem;
    margin: 7px 0 10px;
  }
  .heroSubline {
    font-size: 0.9rem;
  }
  .subpara {
    font-size: 1rem;
  }

  .heroBtnDiv {
    gap: 20px;
  }
  .maintainence {
    padding: 45px 0;
    font-size: 1.3rem;
  }
  .maintainenceP {
    padding: 5px;
  }
  .fundContent {
    text-align: center;
    gap: 15px;
  }
  .fundP {
    font-size: 1.4rem;
  }
  .teamPara {
    width: 90%;
    font-size: 0.88rem;
    margin-bottom: 0;
  }
  .infoSection {
    padding: 45px 0;
  }
  .teamSocialWrapper {
    gap: 23px;

    font-size: 1.7rem;
  }
}

@media screen and (max-width: 400px) {
  .heroDiv {
    padding: 40px 0;
  }
  .heroRight {
    width: 250px;
  }
  .maintainenceP {
    padding: 8px;
  }
  .fundSection {
    padding: 35px 0;
  }
  .feedbackCard {
    padding: 25px;
  }
}
