.heroSection {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/headerbg.svg'); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  overflow-x: hidden;
  position: sticky;
  top: 0;
  /* z-index: -1; */
  background-color: var(--color-black-1);
}

.video {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 400ms ease 0ms, visibility 0ms ease 400ms;
}

.thumbnail {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  filter: 20px;
  filter: blur(10px);
  transition: opacity 400ms ease 0ms, visibility 0ms ease 400ms;
  z-index: -2;
}

.thumbnail img {
  object-fit: cover;
}

.videooverlay {
  background-color: #000;
  opacity: 0.7;
  width: 100.5%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.heroDiv {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  min-height: 90.5vh;
  z-index: 999 !important;
  position: relative;
}
.heroLeft {
  width: 60%;
}
.heroRight {
  background-color: var(--color-black-1);
  width: 450px;
  padding: 35px;
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  transition: all 1s ease;
}

.heroH1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 3px 0 12px;
  filter: drop-shadow(2px 4px 6px black);
}

.heroSubline {
  opacity: 0.7;
  filter: drop-shadow(2px 4px 6px black);
}
.canwebe {
  color: var(--color-canwebe);
}
.subpara {
  width: 75%;
  margin-bottom: 14px;
  font-size: 1.1rem;
  line-height: 24px;
  filter: drop-shadow(2px 4px 6px black);
}

.heroBtnDiv {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-top: 24px;
}

.heroBtnProjects,
.heroBtnContact {
  cursor: pointer;
  padding: 9px 20px;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.heroBtnContact {
  border-radius: 40px;
  border: 1px solid #d79292;
  padding: 9px 30px;
  color: #d79292;
}

.heroBtnContact:active {
  background-color: #d79292;
  color: #000;
  transform: scale(0.96);
  border-color: white;
}

.heroBtnProjects {
  background-color: var(--color-canwebe-deep);
  border-radius: 7px;
  /* color: rgb(255, 255, 255); */
}

.heroBtnProjects:active {
  background-color: var(--color-canwebe-extradeep);
  transform: translateY(3px);
}

.maintainence {
  background-color: #0f0f0fc9;
  padding: 90px 0;
  text-align: center;
  font-size: 1.8rem;
  color: #c7cbd4;
  position: relative;
  backdrop-filter: blur(12px);
}

.projectSection {
  padding: 30px 0;
  background-color: var(--color-black-1);
  position: relative;
}

/* .header {
  font-size: 1.4rem;
}

.header::after {
  content: '';
  height: 2px;
  width: 100px;
  background-color: rgb(126, 126, 233);
  display: block;
  margin: 7px 0 20px 4px;
} */

.fundSection {
  background-color: #beb8b2;
  color: #000000;
  padding: 80px 0;
  position: relative;
}

.fundContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.fundP {
  font-size: 1.5rem;
}

.fundBtn {
  padding: 8px 40px;
  font-size: 1.4rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.24s ease-in;
  border: 1px solid black;
  outline: none;
}

.fundBtn:active {
  background-color: #000000;
  color: rgb(224, 224, 224);
  transform: scale(0.9);
}

.feedbackSection {
  padding: 50px 0;
  background-color: rgb(168, 65, 10);
  position: relative;
}

.feedbackCard {
  margin: 0 auto;
  background-color: #000000;
  width: fit-content;
  padding: 35px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 23px;
  font-size: 1.4rem;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.3);
  color: rgb(227, 227, 227);
}
.feedbackBtn {
  padding: 9px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.24s ease-in-out;
  background-color: white;
  color: #000000;
}

.feedbackBtn:active {
  background-color: rgb(160, 58, 10);
  color: white;
  border-radius: 30px;
}

/* .infoSection {
  padding: 35px 0;
  text-align: center;
  background-color: #0d0c0c;
  position: relative;
} */

/* Why US */
.whyus {
  min-height: 100%;
  display: flex;
  padding-top: 30px;
  background-color: var(--color-black-1);
  position: relative;
}
.whyusleft,
.whyusright {
  width: 50%;
}

.whyusright {
  background-color: white;
  background-color: #dedcdb;
  color: #000;
}
.whyusleft {
  height: calc(100vh - 67px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 67px;
  z-index: 1;
  background-color: var(--color-black-1);
}
.whyusleftp {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
}
.whyusleftsubp {
  font-size: 1.2rem;
  opacity: 0.7;
}
/* .whyusleftp::after {
  width: 100px;
  content: '';
  height: 2px;
  display: block;
  background-color: rgb(126, 126, 233);
  margin: 5px auto 0;
} */

.point1,
.point2,
.point3 {
  height: calc(100vh - 67px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .point1 {
  background-color: #205375;
  background-color: #98613f;
}
.point2 {
  background-color: #6a67ce;
}
.point3 {
  background-color: #947ec3;
  background-color: #417d7a;
} */

/* Latest Tech Point 1 */
.point1Svg {
  width: 200px;
}

.point3Svg {
  width: 170px;
}
.point1H4 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #c25d5d;
}
.point1P {
  font-size: 1.1rem;
  max-width: 400px;
  text-align: center;
  line-height: 25px;
}

/* Problem Point 2 */
.point2 {
  flex-direction: row;
  gap: 20px;
}
.problemQ {
  font-size: 2rem;
  text-align: right;
  border-right: 4px solid rgb(109, 109, 109);
  padding-right: 20px;
  width: 250px;
  color: #2a16c8;
  /* color: #412309; */
  font-weight: 500;
}

.problemA {
  width: 240px;
  line-height: 28px;
  font-size: 1.1rem;
}

@media (hover: hover) {
  .heroBtnContact:hover {
    background-color: #d79292;
    color: #000;
  }
  .heroBtnContact:active {
    transform: scale(0.96);
    border-color: white;
  }
  .heroBtnProjects:hover {
    background-color: var(--color-canwebe-extradeep);
  }

  .heroBtnProjects:active {
    transform: translateY(3px);
  }
  .fundBtn:hover {
    background-color: #000000;
    color: rgb(224, 224, 224);
  }

  .fundBtn:active {
    transform: scale(0.9);
  }
  .feedbackBtn:hover {
    background-color: rgb(160, 58, 10);
    color: white;
    border-radius: 30px;
  }

  .feedbackBtn:active {
    transform: translateY(4px);
  }
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .whyusleft {
    width: 40%;
  }
  .whyusright {
    width: 60%;
  }
  .whyusleftp {
    font-size: 3rem;
  }
  .whyusleftsubp {
    font-size: 1rem;
  }
}
@media screen and (max-width: 860px) {
  .feedbackCard {
    padding: 35px;
    gap: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 810px) {
  .heroDiv {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  .heroLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .heroRight {
    width: 250px;
    padding: 20px;
  }

  .whyus {
    flex-direction: column;
  }
  .whyusleft,
  .whyusright {
    width: 100%;
  }
  .whyusleft {
    height: 25vh;
  }
  .point1,
  .point2,
  .point3 {
    height: calc(75vh - 67px);
    top: calc(67px + 25vh);
  }
}

@media screen and (max-width: 680px) {
  .maintainence {
    font-size: 1.4rem;
  }

  .fundSection {
    padding: 40px 0;
  }
}

@media screen and (max-width: 500px) {
  .heroDiv {
    padding: 30px 0;
  }
  .heroRight {
    /* width: 260px;
    padding: 23px; */
    display: none;
  }
  .heroH1 {
    font-size: 2rem;
    margin: 7px 0 10px;
  }
  .heroSubline {
    font-size: 0.9rem;
  }
  .subpara {
    font-size: 1rem;
  }

  .heroBtnDiv {
    gap: 20px;
  }
  .maintainence {
    padding: 45px 0;
    font-size: 1.3rem;
  }
  .maintainenceP {
    padding: 5px;
  }
  .fundContent {
    text-align: center;
    gap: 15px;
  }
  .fundP {
    font-size: 1.4rem;
  }

  .whyusleftp {
    font-size: 2.5rem;
  }
  .whyusleftsubp {
    font-size: 0.9rem;
  }
  .whyusleft {
    gap: 8px;
  }
  .point1H4 {
    font-size: 1.3rem;
  }
  .point1P {
    font-size: 0.9rem;
    opacity: 0.8;
    max-width: 330px;
  }
  .point2 {
    flex-direction: column;
  }
  .problemQ {
    width: 100%;
  }
  .problemA {
    text-align: left;
    border-left: 5px solid #2d208c;
    padding-left: 20px;
    width: 100%;
    line-height: 27px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .heroDiv {
    padding: 40px 0;
  }
  .heroRight {
    width: 250px;
  }
  .maintainenceP {
    padding: 8px;
  }
  .fundSection {
    padding: 35px 0;
  }
  .feedbackCard {
    padding: 25px;
  }
}
