.heroSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/headerbg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.heroDiv {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  min-height: 95vh;
}
.heroLeft {
  width: 60%;
}
.heroRight {
  background-color: var(--color-black-1);
  width: 450px;
  padding: 35px;
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.heroH1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 3px 0 12px;
}

.heroSubline {
  opacity: 0.7;
}
.canwebe {
  color: var(--color-canwebe);
}
.subpara {
  width: 75%;
  margin-bottom: 14px;
  font-size: 1.1rem;
  line-height: 24px;
}

.heroBtnDiv {
  display: flex;
  gap: 26px;
  margin-top: 24px;
}

.heroBtnProjects,
.heroBtnContact {
  cursor: pointer;
  padding: 9px 20px;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}

.heroBtnContact {
  border-radius: 40px;
  border: 1px solid #d79292;
  padding: 9px 30px;
  color: #d79292;
}
.heroBtnProjects {
  background-color: #3939ef;
  border-radius: 7px;
  color: rgb(215, 215, 215);
}

.maintainence {
  background-color: #151515;
  padding: 90px 0;
  text-align: center;
  font-size: 1.8rem;
  color: rgb(199, 203, 212);
}

.projectSection {
  padding: 30px 0;
}

.header {
  font-size: 1.4rem;
}

.header::after {
  content: '';
  height: 2px;
  width: 100px;
  background-color: rgb(126, 126, 233);
  display: block;
  margin: 7px 0 20px 4px;
}
