.blackBg {
  background-color: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  margin-top: 68px;
  position: sticky;
  top: 68px;
  z-index: -1;
}

.postWrapper {
  width: 90%;
  max-width: 900px;
  margin: -40vh auto 0;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  overflow: hidden;
}
.postContent {
  background-color: #0d1117;
  background-color: #202124;
  padding: 30px 30px 60px;
  color: #c9d1d9;
}

.postTitleWrapper {
  padding: 20px 20px 30px;
  background-color: #34343486;
  backdrop-filter: blur(10px);
  /* margin-bottom: 20px; */
}

.postTitle {
  margin: 20px 0 10px;
  font-size: 2rem;
}

.datenameWrapper {
  display: flex;
  gap: 30px;
}
.date,
.name {
  display: flex;
  align-items: center;
  gap: 7px;
  color: rgb(209, 209, 209);
}

.timeToRead {
  margin: 10px 0 25px;
  color: #906ab2;
}
.tagList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  color: #2f2fef;
  font-weight: 500;
  transition: 0.3s ease;
}

.tag:hover {
  color: #8585e1;
}

@media screen and (max-width: 500px) {
  .postWrapper {
    width: 100%;
    margin-bottom: -56px;
  }
  .postContent {
    padding: 30px 19px 60px;
  }
}
